header img{
    margin-left: 50px;
    width: 350px;
    height: 60px;
}
header span{
    position: relative;
    bottom: 20px;
    left: 40px;
    color: darkgray;
}
header input{
    padding: 8px;
    border-radius: 2px;
    border: 1px solid darkgray;
}
header i{
    position: relative;
    right: 28px;
    color: darkgray;
}
.hero img.foto-banner{
    width: 803px;
    position: relative;
}
.hero img.icono{
    width: 50px;
    position: absolute;
    top: 255px;
    left: 235px;
}
.hero .big{
    color: #D6D9D7;
    background: #373637;
    padding-bottom: 48px;
    font-family: arial;
}
.hero .big h1{
    border-bottom: 1px solid darkgray;
    padding: 20px 20px 15px 5px;
    font-size: 40px;
    margin-right: 150px;
}
.hero .big p{
    font-size: 11px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 15px
}
.hero .big span{
    color:#2CA054;
    border: 2px solid #2CA054;
    padding: 6px;
    border-radius: 5px;
}
.hero table th{
    padding-top: 5px;
    padding-right: 50px;
    font-size: 12px;
}
.hero table td{
    font-size: 11px;
}
.hero button{
    padding: 10px;
    color: white;
    display: block;
    border-radius: 5px;
    margin-top: 15px;
}
.hero .trailer{
    background: #DEB10E;
    border: 1px solid #DEB10E;
}
.hero .ticket{
    background: #CC7C2B;
    border: 1px solid #CC7C2B;
    padding: 10px 18px; 
}
.estrenos{
    background-color: #DEB10E;
    padding: 20px;
    margin-top: -5px;
}

.estrenos img{
    width: 190px;
    height: 210px;
}
.contenido{
    margin: 20px;
   
}
.contenido h1{
    font-size: 30px;
    padding: 20px 40px;
}
.contenido h1 small{
    color: darkgrey;
    font-size: 25px;
}
.contenido button{
    background-color: #BE8835;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    padding: 25px;
    margin-left: 40px;
    border: 1px solid #BE8835;
}

.contenido .rojo p{
    color: palevioletred;
    margin-left: 40px;
    margin-top: 30px
}
.contenido .news h3 {
    color: darkgray;
    padding-top: 40px;
    padding-left: 10px;
    
}
.contenido .news p{
    color: darkgray;
    border-bottom: 1px solid darkgray;
    padding-bottom: 10px;
}
.contenido .news span{
    color: darkgray;
    font-size: 12px;
}
.contenido .news a{
    text-decoration: none;
    color: #BE8835;
    padding: 5px 10px;
}
.contenido .news li{
    list-style: none;
    padding: 10px;
}
.cartelera{
    margin: 0px 53px;
    padding: 20px 0px;
}
.cartelera img{
    width:270px;
    height: 270px;
}
footer{
    background: #ECE9E9;
    color: darkgray;
    padding: 45px;
}
footer p{
    font-size: 13px;
    text-align: left;
    padding-right: 400px;
}
p.copy{
    padding: 20px 0px;
}